{% extends 'layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="columns" style="padding-top: 7rem; padding-bottom: 8.1rem;">
    <div class="column is-half is-offset-one-quarter">
        <div class="box">
			<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        </div>
    </div>
</div>
{% endblock body %}
