/* BASICS */
body {
  font-size: 0.90rem;
  font-family: 'Montserrat', sans-serif;
  flex-grow: 1;
}

a, a:link { 
  text-decoration: none;
  color: inherit;
}

.footer-link {
  text-decoration: none;
  color: white!important;
}

.oikos {
  margin-left: 50%;
}

a.navbar-item:hover, .navbar-link:hover, .navbar-item:hover { 
  text-decoration: none;
  color: inherit;
}

.input {
  font-size: 0.93rem;
  font-family: 'Montserrat', sans-serif;
}

label {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0;
}

/* NAVBAR */
.logo, .logo:hover {
  font-family: 'Fredoka One', cursive;
  font-size: 1.4rem;
  color: #005daa;
}

.logo-one, .logo-two {
  color: #78ab1b;
}

#navbar-top {
  font-size: 0.75rem;
  border-bottom: 1px solid #eaeaeb;
  margin-left: 4rem;
  margin-right: 4rem;
}

#navbar-bottom {
  font-size: 0.90rem;
  margin-left: 2.4rem;
  margin-right: 1.16rem;
}

.fa-map-marker-alt, .fa-unlock-alt, .fa-envelope, .fa-user-alt, .fa-envelope {
  margin-right: 0.3rem;
  color: #005daa;
}

.dropdown-content-arrow	 {
  border-color: #3a2f5a;
}

/* FOOTER */
.align-end {
  display: flex!important;
  justify-content: flex-end!important;
}

.align-center {
  display: flex!important;
  justify-content: center;
}

.footer {
  background-color: #005daa;
  padding: 1.7rem 1.5rem 0rem;
  position: relative;
}

.partners {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.columns {
  margin: 0;
}

.copyright, .copyright:hover, .footer-link, .footer-link:hover {
  color: white!important;
  font-size: 0.75rem;
}

.copyright {
  text-align: right;
}

.fa-facebook-square, .fa-instagram, .fa-google-plus-g, .fa-twitter {
  font-size: 1.4rem;
  color: white;
  margin-right: 0.7rem;
  margin-left: 1rem;
  margin-bottom: 0.8rem;
}

.breadcrumb {
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
}

/* ARTICLES */
.sonata-blog-post-list {
  margin-top: 0.5rem;
  padding: 2rem;
}

.sonata-blog-post-container {
  display: flex;
}

.sonata-blog-post-img img {
  max-width: 100%;
  height: auto;
  display:block;
}

.sonata-blog-post-img {
  margin-right: 0.5rem;
}

.sonata-blog-post-title {
  font-size: 1.15rem;
  font-weight: bold;
}

.fa-calendar-alt {
  color: #51355f;
}

.fa-comments {
  color: #005daa;
}

.article-title {
  font-size: 1.4rem;
}

.tag:not(body).is-info {
  background-color: #005daa;
  color: #fff;
}

.article-body {
  margin-top: 1.4rem;
}

.message-body-comments {
  font-size: 0.8rem;
}

.sonata-comments-title {
  font-size: 1rem;
  color: #78ab1b;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sonata-blog-comment-name {
  font-weight: bold;
}

.sonata-blog-comment-message {
  margin-bottom: 0.8rem;
}

.no-comments {
  font-size: 0.8rem;
}

.comment-input {
  width: 20rem;
  margin-bottom: 0.5rem;
}

.comment-area {
  margin-bottom: 1rem;
  width: 20rem;
}

.separation-comments {
  background-color: lightgrey;
  border: none;
  display: block;
  height: 1px;
  margin: 0.5rem 0;
}

/* LOGIN */
.login-more-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.login-button {
  font-size: 0.85rem;
  font-family: 'Montserrat', sans-serif;
}

.forgot-password {
  color: #005daa;
}

/* REQUEST */
.request-button {
  margin-top: 1rem;
  font-size: 0.85rem;
  font-family: 'Montserrat', sans-serif;  
}

/* EDIT */


/* SECTEUR FAMILLES */
.public-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #005daa;
}

.public-p {
  margin-top: 0.5rem;
  margin-right: 4em;
  text-align: justify;
  padding-bottom: 1.4rem;
}

.public-blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.public-img {
  margin-left: 2.5rem;
  margin-top: .4rem;
}

/* STRUCTURE */
.message-body-structure {
  font-size: 0.90rem;
  margin-bottom: 1rem;
  text-align: justify;
}

/* CONTACT */
button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 1px solid #005daa;
  color:#78ab1b;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: #78ab1b;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"Envoyer";
  }
}
.onclic {
  width: 40px;
  border-color:#bbbbbb;
  border-width:3px;
  font-size:0;
  border-left-color:#78ab1b;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:#005daa;
    background: white;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #78ab1b;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

.form-control {
  font-size: inherit;
}