{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block body %}
<div class="column is-12">
    <div class="content" style="padding-bottom: 1rem;">
        <div class="column is-8 is-offset-2">
            <blockquote class="public-blockquote">
                Les projets et actions du secteur famille s’orientent selon différents axes.
                Ceux-ci découlent d’une part des problématiques repérées sur le territoire suite à un travail de diagnostic et d’autre part des demandes des personnes
                qui fréquentent la structure.
            </blockquote>
        </div>

        <article class="media">
        <div class="media-left public-img">
            <figure class="image is-128x128">
                <img src="https://i.imgur.com/WUX6JJ7.jpg">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <span id="sp" class="public-title">Soutien à la parentalité</span>
                    <p class="public-p">
                        <b>Le CLAS Contrat Local d’Accompagnement à la Scolarité</b>
                        <br>
                        Selon la Charte nationale de l'accompagnement à la scolarité de juin 2001, l'aide à la scolarité désigne <em>« l’ensemble des actions visant à offrir, aux côtés de l’Ecole, l’appui et les ressources dont les enfants ont besoin pour réussir à l’Ecole, appui qu’ils ne trouvent pas toujours dans leur environnement familial et social. Ces actions, qui ont lieu en dehors des temps de l’Ecole, sont centrées sur l’aide aux devoirs et les apports culturels nécessaires à la réussite scolaire. Ces deux champs d’intervention, complémentaires, à vocation éducative, contribuent à l’épanouissement personnel de l’élève et à de meilleures chances de succès à l’École. »</em>
                        <br>
                        Dans le cadre du CLAS il existe aujourd’hui un lien entre le centre culturel et le collège Châteaudun. Le centre culturel organise dans ses locaux, un accompagnement aux devoirs pour les enfants qui le souhaitent.
                        A partir de la rentrée 2017 l’encadrement du CLAS sera organisé par la référente famille. La mise en place d’un service civique sera programmée pour début septembre. La personne qui assurera ce service sera encadrée par la référente famille.
                    </p>
            </div>
        </div>
        </article>

        <article class="media">
        <div class="media-left public-img">
            <figure class="image is-128x128">
                <img src="https://i.imgur.com/4Iv6Nul.jpg">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <span id="isp" class="public-title">Insertion socio-professionnelle</span>
                    <p class="public-p">
                        L’insertion professionnelle est une problématique majeure de notre société qui voit le nombre de chômeurs évoluer de façon récurrente depuis plusieurs années. Dans sa mission d’accueil et d’accompagnement, le secteur famille est concerné par cette problématique et cette orientation fait aujourd’hui partie des axes de travail. Pour le public féminin du centre, la plupart en situation de monoparentalité, l’accès à l’emploi est un objectif majeur tout en présentant de réelles difficultés, garde des enfants, mobilité...Par ailleurs cette démarche d’accès à l’emploi mobilise également un public masculin.
                    </p> 
            </div>
        </div>
        </article>

        <article class="media">
        <div class="media-left public-img">
            <figure class="image is-128x128">
                <img src="https://i.imgur.com/SZajfQe.jpg">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <span id="mc" class="public-title">Médiation culturelle</span>
                    <p class="public-p">
                        Favoriser l’accès à la culture est une volonté des professionnels du centre culturel. Par ailleurs, c’est un des objectifs des centres sociaux.
                    </p>
            </div>
        </div>
        </article>

        <article class="media">
        <div class="media-left public-img">
            <figure class="image is-128x128">
                <img src="https://i.imgur.com/6dZG8IQ.jpg">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <span id="c" class="public-title">Citoyenneté</span>
                    <p class="public-p">
                        Chaque année le CCSBN participe à la journée de la femme en partenariat avec la Mairie. Pour l’année 2018 le thème proposé concerne l’égalité Hommes - Femmes. La démarche proposée laisse une large marche de manœuvre et le centre peut travailler l’axe qu’il souhaite.
                        Nous avons choisi de partir d’une première observation concernant les adhérents du centre culturel. Un constat rapide permet de dire que les participants du secteur famille sont majoritairement des femmes alors que les hommes semblent être absents. Cependant certaines activités présentes dans la structure sont majoritairement masculines.
                        Nous souhaitons établir un diagnostic de notre propre structure sous l’angle « hommes-femmes » à partir des données socio-démographiques du quartier d’une part et des adhérents du centre d’autre part. Des questionnaires seront proposés aux différents publics afin de définir leurs attentes mais également leur vision d’un centre culturel, l’idée étant de dégager des pistes afin de définir ce qui peut être fait ensemble. Il s’agit de travailler la mixité.
                    </p>
            </div>
        </div>
        </article>

        <article class="media">
        <div class="media-left public-img">
            <figure class="image is-128x128">
                <img src="https://i.imgur.com/6eNdT4c.jpg">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <span id="ss" class="public-title">Séjours et sorties</span>
                    <p class="public-p">
                        Les sorties et séjours permettent de vivre un temps de détente, de découvrir d’autres lieux. De par leur durée, les séjours facilitent un travail autour de la parentalité. Par ailleurs des liens forts se créent entre les participants. Il en résulte un réseau d’entraide et de solidarité vécu dans le centre mais également en dehors.
                        Les séjours d’une journée peuvent offrir un temps de loisirs (Exemple de sorties déjà organisées : Europa Park, Laguna) ou permettre une approche culturelle (exemple : sortie Jura, découverte de Lyon).
                    </p>
            </div>
        </div>
        </article>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}