{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block body %}
<div class="column is-8 is-offset-2">
        <div class="content has-text-centered">
            <img width="210px" src="http://ccsbelfortnord.centres-sociaux.fr/files/2016/04/historique-centre-culturel-social-belfort-nord-800-627.jpg">
            <img width="210px" src="http://ccsbelfortnord.centres-sociaux.fr/files/2016/04/historique-centre-culturel-social-belfort-nord-2-800-562.jpg">
        </div>
    <article class="message">
        <div class="message-body message-body-structure">
            À la fin des années 1940, le quartier de Dardel a été reconstruit. 
            Le nombre de logements et d’habitants a alors augmenté dans ce quartier excentré de Belfort. 
            La création d’un centre socioculturel dans ce quartier en 1975 visait à favoriser les rencontres et le développement du lien social. 
            Aujourd’hui, l’objectif premier de ce centre consiste à soutenir l’initiative citoyenne, c’est-à-dire la capacité de chacun de se mettre en dynamique de projet pour améliorer sa vie, mais aussi le vivre ensemble dans son quartier.
        </div>
    </article>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}